<section class="section-footer1">
  <div class="padding-horizontal padding-small">
    <div class="grid-large">
      <div
        id="w-node-f17c5aa6-ff54-9c14-64f2-750ce83c15a6-e83c15a3"
        class="footer-block"
      >
        <div class="padding-vertical padding-huge">
          <div class="footer-intro">
            <div class="text-size-large text-align-center text-color-white">
              Let me help you explore the beauty and truth of daily life and
              everyday people.
            </div>
            <a href="contact.html" class="button w-inline-block">
              <div
                id="nowThis"
                thattextsplit="hoverTarget"
                base="20%"
                class="clip"
              >
                <div class="hover-text">
                  <div class="text-size-xsmall">Get in touch</div>
                </div>
                <div class="hover-text bottom-hover-text">
                  <div class="text-size-xsmall">Get in touch</div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="padding-horizontal padding-medium">
          <div class="footer-bottom">
            <div
              id="w-node-f17c5aa6-ff54-9c14-64f2-750ce83c15b0-e83c15a3"
              class="text-size-tiny text-style-allcaps text-color-white"
            >
              © 2025
              <a
                href="index.html"
                aria-current="page"
                class="text-style-link light w--current"
                >MUCYO HERBERT Balthazar GASANA</a
              >
            </div>
            <div
              id="w-node-f17c5aa6-ff54-9c14-64f2-750ce83c15b2-e83c15a3"
              class="footer-menu"
            >
              <a
                href="index.html"
                aria-current="page"
                class="footer-link w-inline-block w--current"
              >
                <div class="text-size-tiny text-style-allcaps">Home</div>
              </a>
              <a href="about.html" class="footer-link w-inline-block">
                <div class="text-size-tiny text-style-allcaps">About</div>
              </a>
              <a href="works.html" class="footer-link w-inline-block">
                <div class="text-size-tiny text-style-allcaps">Projects</div>
              </a>
              <a href="contact.html" class="footer-link w-inline-block">
                <div class="text-size-tiny text-style-allcaps">Contact</div>
              </a>
            </div>
            <div
              id="w-node-f17c5aa6-ff54-9c14-64f2-750ce83c15bf-e83c15a3"
              class="text-size-tiny text-style-allcaps text-color-white"
            >
              Created with ❤ by
              <a
                href="https://https:theewaweru.dev"
                class="text-style-link light"
                >theewaweru</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
