<div
  id="w-node-_9990f78a-f294-0c8f-0b66-9928e91f9a1e-e91f9a1e"
  data-animation="default"
  data-collapse="none"
  data-duration="400"
  data-easing="ease"
  data-easing2="ease"
  role="banner"
  class="navbar w-nav"
>
  <div class="padding-horizontal">
    <div class="navbar_overlay"></div>
    <div
      id="w-node-_9990f78a-f294-0c8f-0b66-9928e91f9a1f-e91f9a1e"
      class="navbar_component"
    >
      <a
        href="index.html"
        aria-current="page"
        class="brand w-nav-brand w--current"
        ><img
          src="images/mucyo-logo.png"
          loading="lazy"
          sizes="(max-width: 479px) 98vw, 100vw"
          srcset="
            images/mucyo-logo-p-500.png  500w,
            images/mucyo-logo-p-800.png  800w,
            images/mucyo-logo.png       1001w
          "
          alt=""
          class="logo"
      /></a>
      <nav role="navigation" class="navbar_menu w-nav-menu">
        <a href="#" class="navlink w-inline-block">
          <div>Hire me</div>
        </a>
      </nav>
      <div class="w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
      <div class="navbar_right">
        <a
          href="contact.html"
          class="button hide-mobile-portrait w-inline-block"
        >
          <div id="nowThis" thattextsplit="hoverTarget" base="20%" class="clip">
            <div class="hover-text">
              <div class="text-size-xsmall text-style-allcaps">
                Schedule a call
              </div>
            </div>
            <div class="hover-text bottom-hover-text">
              <div class="text-size-xsmall text-style-allcaps">
                Schedule a call
              </div>
            </div>
          </div>
        </a>
        <div
          data-hover="false"
          data-delay="1000"
          data-w-id="e4acc428-f7d4-40fd-2558-71aa586d4308"
          class="navbar_dropdown w-dropdown"
        >
          <div class="navbar_toggle w-dropdown-toggle">
            <div class="navbar_line navbar-line-top"></div>
            <div class="navbar_line navbar-line-bottom"></div>
          </div>
          <nav class="navbar_dropdown-list w-dropdown-list">
            <div class="navbar_drop-content radius-regular">
              <div class="navbar_link-wrapper">
                <div
                  id="w-node-dcf96600-dc67-46aa-b261-5e18bb914b2c-e91f9a1e"
                  class="into-view-1"
                >
                  <a href="about.html" class="navbar_link w-inline-block">
                    <div class="heading-style-h5 text-style-allcaps">About</div>
                    <div>
                      <div class="clip">
                        <div class="hover-arrow left">
                          <div class="icon-1x1-tiny w-embed">
                            <svg
                              width="100%"
                              height="auto"
                              viewbox="0 0 24 24"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M13.1722 12L8.22217 7.04999L9.63617 5.63599L16.0002 12L9.63617 18.364L8.22217 16.95L13.1722 12Z"
                                fill="currentColor"
                              ></path>
                            </svg>
                          </div>
                        </div>
                        <div class="hover-arrow">
                          <div class="icon-1x1-tiny w-embed">
                            <svg
                              width="100%"
                              height="auto"
                              viewbox="0 0 24 24"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M13.1722 12L8.22217 7.04999L9.63617 5.63599L16.0002 12L9.63617 18.364L8.22217 16.95L13.1722 12Z"
                                fill="currentColor"
                              ></path>
                            </svg>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <div
                  id="w-node-_801ff30e-95ab-85cf-050c-dad43c1ea620-e91f9a1e"
                  class="into-view-2"
                >
                  <a href="works.html" class="navbar_link w-inline-block">
                    <div class="heading-style-h5 text-style-allcaps">Work</div>
                    <div>
                      <div class="clip">
                        <div class="hover-arrow left">
                          <div class="icon-1x1-tiny w-embed">
                            <svg
                              width="100%"
                              height="auto"
                              viewbox="0 0 24 24"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M13.1722 12L8.22217 7.04999L9.63617 5.63599L16.0002 12L9.63617 18.364L8.22217 16.95L13.1722 12Z"
                                fill="currentColor"
                              ></path>
                            </svg>
                          </div>
                        </div>
                        <div class="hover-arrow">
                          <div class="icon-1x1-tiny w-embed">
                            <svg
                              width="100%"
                              height="auto"
                              viewbox="0 0 24 24"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M13.1722 12L8.22217 7.04999L9.63617 5.63599L16.0002 12L9.63617 18.364L8.22217 16.95L13.1722 12Z"
                                fill="currentColor"
                              ></path>
                            </svg>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <div
                  id="w-node-de31a87d-6672-b57b-39d9-182a3bf92ebb-e91f9a1e"
                  class="into-view-3"
                >
                  <a href="contact.html" class="navbar_link w-inline-block">
                    <div class="heading-style-h5 text-style-allcaps">
                      Contact
                    </div>
                    <div>
                      <div class="clip">
                        <div class="hover-arrow left">
                          <div class="icon-1x1-tiny w-embed">
                            <svg
                              width="100%"
                              height="auto"
                              viewbox="0 0 24 24"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M13.1722 12L8.22217 7.04999L9.63617 5.63599L16.0002 12L9.63617 18.364L8.22217 16.95L13.1722 12Z"
                                fill="currentColor"
                              ></path>
                            </svg>
                          </div>
                        </div>
                        <div class="hover-arrow">
                          <div class="icon-1x1-tiny w-embed">
                            <svg
                              width="100%"
                              height="auto"
                              viewbox="0 0 24 24"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M13.1722 12L8.22217 7.04999L9.63617 5.63599L16.0002 12L9.63617 18.364L8.22217 16.95L13.1722 12Z"
                                fill="currentColor"
                              ></path>
                            </svg>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
